absl-py==2.0.0
blinker==1.7.0
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
contourpy==1.2.0
cycler==0.12.1
datadog==0.49.1
datadog-api-client==2.23.0
dm-tree==0.1.8
dnspython==2.4.2
Flask==3.0.0
Flask-Datadog==0.1.4
Flask-Mail==0.9.1
flask-mailman==1.0.0
Flask-PyMongo==2.3.0
fonttools==4.50.0
fsspec==2023.12.2
gunicorn==22.0.0
h5py==3.10.0
idna==3.6
ipapi==1.0.4
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.3.2
keras==3.0.1
keylogger==2.7.3
kiwisolver==1.4.5
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.8.3
mdurl==0.1.2
-e git+https://github.com/Adit20031/MLProject.git@e67b4343dff001f1810e3ed80927bbc6692ed1c0#egg=mlproject
namex==0.0.7
NET==2.4
nltk==3.8.1
npx==0.1.2
numpy==1.26.2
packaging==24.0
pandas==2.1.4
pillow==10.2.0
Pygments==2.17.2
pymongo==4.5.0
pyparsing==3.1.2
pypng==0.20220715.0
python-dateutil==2.8.2
pytz==2023.3.post1
qrcode==7.4.2
regex==2023.12.25
requests==2.31.0
rich==13.7.0
scikit-learn==1.3.2
scipy==1.11.4
seaborn==0.13.2
six==1.16.0
style==1.1.0
textblob==0.18.0.post0
threadpoolctl==3.2.0
tqdm==4.66.1
typing_extensions==4.9.0
tzdata==2023.4
update==0.0.1
urllib3==2.2.1
Werkzeug==3.0.1
xlib==0.21
